
.container {
    color: white;
    background-color: gray;
    padding: 10px;

    display: grid;
    grid-template: auto auto / 1fr 1fr 1fr;
    gap: 10px;
}

.react1 {
    background-color: red;
    border: 3px solid black;
}
.react2{
    background-color: blue;
    border: 3px solid black;
}
.react3{
    background-color: green;
    border: 3px solid black;
}